*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:linear-gradient(135deg,#141e30,#243b55);
    min-height:100vh;
    padding:30px;
}

h1{
    text-align:center;
    color:white;
    margin-bottom:30px;
}

.container{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
}

.card{
    width:300px;
    background:white;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,0.4);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.card img{
    width:100%;
    height:350px;
    object-fit:cover;
}

.card h2{
    text-align:center;
    color:#243b55;
    margin:15px 0;
}

.card p{
    padding:0 15px 20px;
    color:#555;
    text-align:justify;
}